html {
  height: 100%;
  width: 100%;
}
body {
  background-image: url("https://wallpaperaccess.com/full/399767.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #ffffff;
  font-size:60px;
  text-shadow: -2px 2px 1px #000;
}
h2 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: white;
  font-size:30px;
  text-shadow: -2px 2px 1px #000;
}
a {
  color:#009dff;
  text-decoration: none;
}
p {
  text-align: center;
}
.sidemenu {
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgba(0,0,0,0.7); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  margin-top: 100px;
  margin-left: 5px;
}
.sidemenu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #009dfff;
    display: block;
    font-family:Verdana,sans-serif;
}
.sidemenu a:hover {
    color: #6bc6ff;
  font-size:21px;
}
a:hover {
    color: #6bc6ff;
  font-size:31px;
}
h3 {
  font-size:21px;
  font-family: Verdana, sans-serif;
  padding: 6px 6px 0px 16px;
  color:#c9c9c9;
}
.tomain a {
  color:white;
  text-decoration: none;
}
.tomain a:hover {
  color:white;
  font-size:60px;
  text-decoration: none;
}
